" https://github.com/JetBrains/ideavim
" https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
set surround
let mapleader = ","

map <Leader>r :action RenameElement<CR>
map <Leader>s :action FileStructurePopup<CR>
map <Leader>i :action GotoImplementation<CR>

map <Leader>u `[v`]~`]
imap <C-l> <Esc>bgUawea

" Can also use Ctrl-Shift-[
map <Leader>[ :action EditorCodeBlockStart<CR>
" Can also use Ctrl-Shift-]
map <Leader>] :action EditorCodeBlockEnd<CR>
